.custom-lain.p10 {
  width: 20px;
}
.custom-lain.p20 {
    width: 40px;
}
.custom-lain.p30 {
    width: 60px;
}
.custom-lain.p40 {
    width: 80px;
}
.custom-lain.p50 {
    width: 100px;
}
.custom-lain.p60 {
    width: 120px;
}
.custom-lain.p70 {
    width: 140px;
}
.custom-lain.p80 {
    width: 160px;
}
.custom-lain.p90 {
    width: 180px;
}
